.calculator {
  width: 208px;
  /* margin: auto; */
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: #5555c7;
}

.buttons button {
  width: 50px;
  height: 50px;
  margin: 1px;
  font-size: 20px;
  background-color: #c7c5ff;
  border: 0;
}

#result {
  width: 97%;
  height: 60px;
  /* margin-bottom: 10px; */
  font-size: 20px;
  text-align: right;
  background-color: #151433;
  color: #FFFF;
}
.button-row {
  display: grid;
  width: auto;
  grid-template-columns: repeat(4, 0fr);
  grid-template-rows: 1fr;
  align-items: center;
  /* justify-content: center; */
}

.case1 button{
  width: 50%;
  /* height: 50px; */
  grid-column: 1 / -1;
}

.case1{
  display:flex;
}

.buttons{
  background-color: #e0e5f9;
  width: 100%;
}

.header{
  width: 30%;
  height: 230px;
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
body{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}